<div class="header">
  <div class="logo">
    <%= link_to "https://news.ycombinator.com/" do %>
      <%= image_tag "https://news.ycombinator.com/y18.gif" %>
    <% end %>
  </div>
  <div class="header-links">
    <div class="heading">
      <%= link_to "Hacker News", "https://news.ycombinator.com/news" %>
    </div>
    <div>
      <%= link_to "new", "https://news.ycombinator.com/newest" %>
      |
      <%= link_to "comments", "https://news.ycombinator.com/newcomments" %>
      |
      <%= link_to "show", "https://news.ycombinator.com/show" %>
      |
      <%= link_to "ask", "https://news.ycombinator.com/ask" %>
      |
      <%= link_to "jobs", "https://news.ycombinator.com/jobs" %>
      |
      <%= link_to "submit", "https://news.ycombinator.com/submit" %>
    </div>
  </div>
  <div class="login">
    <%= link_to "login", "https://news.ycombinator.com/login?goto=news" %>
  </div>
</div>